body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: black;
    color: beige;
  }

  #add_task_bttn{
    background-color: green;
    color: white;
  }

  #ioi{
    background-color: red;
    color: white;
  }